/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* Fontawesome CDN Link */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
  --primary-color: #75816b;
  --secondary-color: #2e8b57;
  --highlight-color: #3cb371;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10vmin;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-70deg, #e3fdf5 0%, #eee6fa 100%);
  flex-wrap:wrap;
  padding: 30px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: var(--primary-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

header .navbar {
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  display: flex;
}

.navbar .logo {
  color: #fff;
  font-size: 0.5rem;
  font-weight: 600;
  text-decoration: none;
}

#me{
  padding: 100px 0px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.left{
  flex-basis: 50%;
  max-width: 120vh;
  padding-left: 5vh;
}

.left h1{
  font-size: 50px;
  text-align: center;
}

.left p{
  font-size: 30px;
  margin: 0px 10px;
  text-align: center;
}

.right{
  flex-basis: 50%;
  margin-top: -50vh;
  padding-left: 100vh;
}

