  /* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* Fontawesome CDN Link */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
  --primary-color: #75816b;
  --secondary-color: #2e8b57;
  --highlight-color: #3cb371;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10vmin;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-70deg, #e3fdf5 0%, #eee6fa 100%);
  flex-wrap:wrap;
  padding: 30px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: var(--primary-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

header .navbar {
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  display: flex;
}

.navbar .logo {
  color: #fff;
  font-size: 0.5rem;
  font-weight: 600;
  text-decoration: none;
}

.navbar .links {
  height: 100%;
  display: flex;
  margin-right: 90vh;
}

.navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 0.5rem;
}

.navbar .links li a {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  font-size: 0.25rem;
  font-weight: 500;
}

#me{
  padding: 140px 0px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.left{
  flex-basis: 50%;
  max-width: 120vh;
  padding-left: 5vh;
}

.left h1{
  font-size: 50px;
  text-align: center;
}

.left p{
  font-size: 25px;
  margin: 0px 10px;
  text-align: center;
}

.right{
  flex-basis: 50%;
  margin-top: -50vh;
  padding-left: 100vh;
}
  
#about{
  padding: 130px 507px;
  background: rgba(0, 80, 50, 0.3);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 85% 85%, 0% 100%);
}

.about-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-col{
  max-width: 400px;
  margin-left: 30vh;
}

.about-col h2{
  font-size: 50px;
  width:40vh;
}

.about-col p{
  font-size: 20px;
  margin: 10px 0px;
}

#eNs{
  padding: 100px 0px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.experience-left-col{
  flex-basis: 50%;
  max-width: 50vh;
  padding-left: 5vh;
}

.experience-left-col h2{
  font-size: 50px;
  width:40vh;
}

.experience-left-col p{
  font-size: 20px;
  margin: 10px 0px;
}

.skill-right-col{
  flex-basis: 50%;
  padding-left: 100vh;
}

.skill-right-col h2{
  font-size: 50px;
  width:40vh;
}

.skill-right-col p{
  font-size: 20px;
  margin: 10px 0px;
}

.social-links{
  margin: 14px;
  font-size: 30px;
}

.social-links a:hover{
  transform: scale(1.5);
}

.social-links a{
  display: inline-block;
  height: 30px;
  width: 30px;
}

.social-links a i{
  color: #444;
}

.container2 {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.left{
  flex-basis: 50%;
  max-width: 400px;
  padding-left: 5vh;
}

.left h2{
  font-size: 50px;
}

.left p{
  font-size: 20px;
  margin: 10px 0px;
}

.right img{
  flex-basis: 50%;
  margin-left: 30vh;
  margin-top: 15vh;
}
